,categoryID,categoryName,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains & Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat & Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [3]:
data_dictionary = pd.read_csv('Copy of data_dictionary.csv')
data_dictionary

,Table,Field,Description
0,orders,orderID,Unique identifier for each order
1,orders,customerID,The customer who placed the order
2,orders,employeeID,The employee who processed the order
3,orders,orderDate,The date when the order was placed
4,orders,requiredDate,The date when the customer requested the order...
5,orders,shippedDate,The date when the order was shipped
6,orders,shipperID,The ID of the shipping company used for the order
7,orders,freight,The shipping cost for the order (USD)
8,order_details,orderID,The ID of the order this detail belongs to
9,order_details,productID,The ID of the product being ordered
10,order_details,unitPrice,The price per unit of the product at the time ...
11,order_details,quantity,The number of units being ordered
12,order_details,discount,The discount percentage applied to the price p...
13,customers,customerID,Unique identifier for each customer
14,customers,companyName,The name of the customer's company
15,customers,contactName,The name of the primary contact for the customer
16,customers,contactTitle,The job title of the primary contact for the c...
17,customers,city,The city where the customer is located
18,customers,country,The country where the customer is located
19,products,productID,Unique identifier for each product
20,products,productName,The name of the product
21,products,quantityPerUnit,The quantity of the product per package
22,products,unitPrice,The current price per unit of the product (USD)
23,products,discontinued,Indicates with a 1 if the product has been dis...
24,products,categoryID,The ID of the category the product belongs to
25,categories,categoryID,Unique identifier for each product category
26,categories,categoryName,The name of the category
27,categories,description,A description of the category and its products
28,employees,employeeID,Unique identifier for each employee
29,employees,employeeName,Full name of the employee
30,employees,title,The employee's job title
31,employees,city,The city where the employee works
32,employees,country,The country where the employee works
33,employees,reportsTo,The ID of the employee's manager
34,shippers,shipperID,Unique identifier for each shipper
35,shippers,companyName,The name of the company that provides shipping...

In [4]:
import pandas as pd

categories = pd.read_csv('categories.csv')

categories

,categoryID,categoryName,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains & Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat & Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [5]:
df.to_csv('categories.csv', index=False)