In [13]:
import pandas as pd

customers = pd.read_csv('Dataset/customers.csv', encoding='latin1')

df =customers
df

,customerID,companyName,contactName,contactTitle,city,country
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Berlin,Germany
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Mexico City,Mexico
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mexico City,Mexico
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,London,UK
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Luleå,Sweden
...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Oulu,Finland
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Resende,Brazil
88,WHITC,White Clover Markets,Karl Jablonski,Owner,Seattle,USA
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Helsinki,Finland
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,Warszawa,Poland

In [14]:
df.isnull().sum()

customerID      0
companyName     0
contactName     0
contactTitle    0
city            0
country         0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerID    91 non-null     object
 1   companyName   91 non-null     object
 2   contactName   91 non-null     object
 3   contactTitle  91 non-null     object
 4   city          91 non-null     object
 5   country       91 non-null     object
dtypes: object(6)
memory usage: 4.4+ KB

In [16]:
df.to_csv("customers.csv", index=False)

In [17]:
df

,customerID,companyName,contactName,contactTitle,city,country
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Berlin,Germany
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Mexico City,Mexico
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mexico City,Mexico
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,London,UK
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Luleå,Sweden
...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Oulu,Finland
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Resende,Brazil
88,WHITC,White Clover Markets,Karl Jablonski,Owner,Seattle,USA
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Helsinki,Finland
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,Warszawa,Poland