In [2]:
import pandas as pd

order_details = pd.read_csv("order_details.csv", encoding='latin1')

df =order_details
df

      orderID  productID  unitPrice  quantity  discount
0       10248         11      14.00        12      0.00
1       10248         42       9.80        10      0.00
2       10248         72      34.80         5      0.00
3       10249         14      18.60         9      0.00
4       10249         51      42.40        40      0.00
...       ...        ...        ...       ...       ...
2150    11077         64      33.25         2      0.03
2151    11077         66      17.00         1      0.00
2152    11077         73      15.00         2      0.01
2153    11077         75       7.75         4      0.00
2154    11077         77      13.00         2      0.00

[2155 rows x 5 columns]

In [3]:
df.isnull().sum()

orderID      0
productID    0
unitPrice    0
quantity     0
discount     0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   orderID    2155 non-null   int64
 1   productID  2155 non-null   int64
 2   unitPrice  2155 non-null   float64
 3   quantity   2155 non-null   int64
 4   discount   2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB

In [5]:
df.to_csv("order_details.csv", index=False)